#container_active-talents{

	.active-talent-lists{
		display: flex;
		justify-content: center;
		gap:2em;
		flex-wrap: wrap;
		margin: 0 auto;
		padding: 2em;
	}
}

#container_past-talents{
	margin-top: 1em;
	.past-talent-lists{
		padding: 2em;
		display: flex;
		flex-wrap: wrap;
		max-width: min(95%,2000px);
		margin: 0 auto;
		gap: 2.9em;
		justify-content: center;
	}
}