.container_header-title{
	width: 80%;
	margin: 0 auto;
	text-align: center;

	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	.header-title{
		font-size: 3.5rem;
		padding-top: 70px;
		background: linear-gradient(60deg,#54B5DA, #6AC8FA, #bddac2, #dfd489, #ffe896a1);
		color: transparent;
		background-clip: text;
		$shadowColor:#50869b;
		$shadowWidth:2px;
		filter: drop-shadow(-$shadowWidth $shadowWidth $shadowColor);
	}
	.header-title.hidden{
		position: absolute;
		z-index: -20;
		filter: initial;
		text-shadow:
				2px 2px 0 white,
			-2px -2px 0 white,  
			2px -2px 0 white,
			-2px 2px 0 white,
				2px 2px 0 white;
	}
	.header-description{
		font-size: 1rem;
		max-width: 90ch;
		color: #8D8382;
	}
}

@media screen and (max-width:1280px) {
	.container_header-title {
		.header-title{
			padding-top: 170px;
			padding-bottom: .25em;
		}
	}
}
@media screen and (max-width:768px) {
	.container_header-title {
		padding-bottom: 1.5em;
		.header-title{
			padding-top: 170px;
			font-size: 2.5rem;
		}
		.header-description{
			font-size: .8rem;
		}
	}
}