.container_header-title{
	width: 80%;
	margin: 0 auto;
	text-align: center;

	display: flex;
	flex-direction: column;
	align-items: center;
	.header-title{
		font-size: 3.5rem;
		padding-top: 70px;
		background: linear-gradient(60deg,#4B97B7,#d1d8ad);
		color: transparent;
		background-clip: text;
		$shadowColor:#c6efff;
		$shadowWidth:3px;
		filter: drop-shadow(-$shadowWidth $shadowWidth $shadowColor);

		// -webkit-text-stroke: 2px white;
		// paint-order: stroke fill;

	}
	.header-description{
		font-size: 1rem;
		max-width: 90ch;
		color: #8D8382;
	}
}