.container_service-guideline{
	background-color: #F4E8E1;
	color: #8D8382;
	margin: 5em 0;
	.service-clamp{
		display: grid;
		padding: 2em 0;
		grid-template-columns: 2fr 1fr;
		gap: 2em;
		max-width: 800px;
		margin: 0 auto;

		.text-part{
			h2{
				font-size: 500;
				font-size: 2rem;
				margin: .5em 0;
				svg{
					display: inline-block;
					position: relative;
					margin-right: .4em;
					top: 5px;
				}
			}
			p{
				padding-bottom: 1em;
			}
		}

		.img-part{
			.chibi{
				width: 100%;
				height: 100%;
				object-fit: contain;
				scale: 1.4;
				user-select: none;
				pointer-events: none;
			}
			position: relative;
			.decor_spell-bg{
				position: absolute;
				width: 750px;
				height: 750px;
				left: -95%;
				top: -110%;
				scale: .7;
				pointer-events: none;
				animation: speen 220s infinite linear;
			}
		}
	}
}

@media screen and (max-width:768px) {
	.container_service-guideline{
		.service-clamp{
			display: flex;
			flex-direction: column;
			.img-part .decor_spell-bg{
				display: none;
			}
		}
		.text-part{
			max-width: 80%;
			margin: 0 auto;
		}
		.img-part{
			max-height: 200px;
		}

		
	}

	
}