#container_home-title{
	width: 70%;
	margin: 0 auto;
	padding-top: 200px;
	margin-bottom: min(50vh,420px);
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	.main-logo{
		max-width: 100%;
		object-fit: contain;
		left: -2%;
		position: relative;
	}
	.title{
		color: #FFAE72;
		font-weight: 500;
		font-size: 2rem;
		span{
			opacity: .5;
		}
	}
	.tagline{
		font-size: 1.5rem;
		font-weight: 400;
		background: linear-gradient(to right,#4B97B7,#CAD0AC);
		color: transparent;
		background-clip: text;
	}

	.management-status{
		color: white;
		font-size: 2rem;
		background-color: #FEB782;
		font-weight: bold;
		padding: .4em 1.3em;
		border-radius: 2em;
		letter-spacing: .2em;
		margin: 1em;
		position: relative;
		p{
			position: relative;
			z-index: 150;
		}
		.status{
			font-weight: normal;
		}

		&::before{
			content: "";
			height: 100%;
			width: 110%;
			transform: translate(-50%);
			position: absolute;
			top: 0%;
			left: 50%;
			scale: 1 .8;
			border-radius: 2em;
			z-index: 1;
			background-color: #584C4B;
		}
	}
}