#container_home-title{
	width: 70%;
	margin: 0 auto;
	padding-top: 240px;
	margin-bottom: min(50vh,420px);
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	.decor_star{
		width: 100%;
		position:relative;
		svg{
			position: absolute;
			top: 0%;
			transform: translate(-50%);
			overflow: visible;
		}

		.stars_l{
			left: calc(50% - 340px);
			top: -40px;
			#star_bottom{
				animation: speen 6s infinite linear;
				transform-origin: 45% 86%;
				animation-delay: 200ms;
			}
			#star_middle{
				animation: speen 10s infinite linear;
				transform-origin: 20% 50%;
				animation-delay: 100ms;

			}
			#star_top{
				animation: speen 12s infinite linear reverse;
				transform-origin: 70% 25%;
				animation-delay: 300ms;
			}
		}
		.stars_r{
			left: calc(50% + 270px);
			top: -80px;
			#star_bottom{
				animation: speen 5s  infinite linear;
				transform-origin: 53% 85%;
				animation-delay: 500ms;
				
			}
			#star_middle{
				animation: speen 10s  infinite linear;
				transform-origin: 80% 44%;
				animation-delay: 600ms;
			}

			#moon{
				#moon-star{
					animation: expand 2s infinite ;
					transform-origin: 30% 20%;
				}
			}
		}
	}

	.main-logo{
		object-fit: contain;
		left: -2%;
		position: relative;
	}
	.title{
		color: #FFAE72;
		font-weight: 500;
		font-size: 2rem;
		span{
			opacity: .5;
		}
	}
	.tagline{
		font-size: 1.5rem;
		font-weight: 400;
		background: linear-gradient(to right,#4B97B7,#CAD0AC);
		color: transparent;
		background-clip: text;
	}
	.management-status{
		color: white;
		font-size: 2rem;
		background-color: #FEB782;
		padding: .4em 1.3em;
		border-radius: 2em;
		letter-spacing: .2em;
		margin: 1em;
		position: relative;
		p{
			position: relative;
			z-index: 150;
		}
		.status{
			font-weight: normal;
		}

		&::before{
			content: "";
			height: 100%;
			width: 110%;
			transform: translate(-50%);
			position: absolute;
			top: 0%;
			left: 50%;
			scale: 1 .8;
			border-radius: 2em;
			z-index: 1;
			background-color: #584C4B;
		}
	}
}

@media screen and (max-width:1500px) {
		#container_home-title{
			padding-top: 180px;
			
			.title{
				font-size: 1rem;
				white-space: nowrap;
			}
			.tagline{
				font-size: .9rem;
				white-space: nowrap;
			}
			.management-status{
				font-size: 1.1rem;
			}
			.decor_star{
				.stars_l{
					left: calc(50% - 250px);
					top: -40px;
					scale: .5;
				}
				.stars_r{
					left: calc(50% + 120px);
					top: -80px;
					scale: .5;
				}
			}
			.main-logo{
				width: 350px;
				max-height: 130px;
			}
		}
}

.profile-sign{
	background-color: #FEB782;
	color: white;
	padding: 1em;
	border-radius: 50%;
	width: 90px;
	height: 90px;
	font-size: 1.4rem;
	position: absolute;
	display: flex;
	top: min(88vh,100%);
	right: 2%;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}


@media screen and (max-width:1280px) {
	.profile-sign{
		width: 60px;
		height: 60px;
		font-size: .8rem;
		top: min(85vh,700px);

	}
	
}
@media screen and (max-width:768px) {
	.profile-sign{
		width: 40px;
		height: 40px;
		font-size: .5rem;
	}
	
}

@media screen and (max-width:481px) {
	#container_home-title{
		padding-top: 200px;
		width: 95%;
		margin-bottom: 100px;
		.main-logo{
			width: 100%;
			max-height: 80px;
		}
		.decor_star{
			opacity: 0;
		}

		.title{
			font-size: .8rem;
		}
		.tagline{
			font-size: .7rem;
			white-space: normal;
		}
		.management-status{
			font-size: .6rem;
		}
	}
	.profile-sign{
		display: none;
	}

}



