.experimental-custom-panel{
	background-color: #F4EAE4;
	border: 2px solid #584C4B;
	color: #584C4B;

	min-height: 150px;
	padding: 1em;
	border-radius: 1em;
	margin: 1em auto;
	max-width: min(50%,700px);
}