.active-talent-panel{
	
	background: url('/static/images/pattern/checker.png'),#E5E6E7;
	width: min-content;
	$panelBr:1em;
	border-radius: $panelBr;

	display: flex;
	justify-content: space-between;
	flex-direction: column;
	min-height: 400px;
	box-shadow:  0px 4px 0px 0px rgba(110, 145, 157, 0.684);
	.active-talent-panel-body{
		padding: 4em .9em;
		padding-top: 1em;
		--originalDelay: 0ms;
		.talent-pfp{
			padding: 2em 3em;
			position: relative;
			&::before{
				content: '';
				position: absolute;
				width: 170px;
				height: 170px;
				object-fit: cover;
				object-position: center;
				border-radius: 50%;
				filter: drop-shadow(0px 5px 2px rgba(0, 0, 0, 0.22));
				z-index: 50;
				transform: translateX(-1px);
				scale: .9;
				border: 1px solid white;
			}

			.pfp{
				display: block;
				width: 170px;
				height: 170px;
				object-fit: cover;
				object-position: center;
				border-radius: 50%;
				filter: drop-shadow(0px 5px 2px rgba(0, 0, 0, 0.22));
				position: relative;
				z-index: 20;
				border: 3px solid rgb(150, 253, 255);

				animation: pfp 1s forwards;
				animation-delay: calc(var(--originalDelay) + 2s);
				opacity: 0;

			}
			.decor_pfp_spell{
				position: absolute;
				top: 14%;
				left: 18%;
				width: 170px;
				height: 170px;
				scale: 2;
				z-index: 2;
				animation: pfp-spell 1.7s ease-in-out forwards normal ,speen 120s linear infinite;
				animation-delay: var(--originalDelay);
				opacity: 0;

			}
			.decor_leaf{
				position: absolute;
				z-index: 5;
				left: -4%;
				top:20%;
				scale: .8;
				overflow: visible;
				animation: leaf 2s forwards;
				animation-delay: var(--originalDelay);
				opacity: 0;
				#left_grey{
					animation: decor_leaf-l-grey 1.2s ease forwards;
					animation-delay: calc(var(--originalDelay) + 1s);
					transform-origin: 60% 100%;
					opacity: 0;
				}
				#left_green{
					animation: decor_leaf-l-green 1.5s ease forwards;
					animation-delay: calc(var(--originalDelay) + 1.2s);
					transform-origin: 60% 100%;
					opacity: 0;
				}
				#right_green{
					animation: decor_leaf-r-green 1.6s ease forwards;
					opacity: 0;
					animation-delay: calc(var(--originalDelay) + 1.5s);
					transform-origin: 40% 100%;
				}
			}
			.decor_star{
				position: absolute;
				animation: pfp-star 1.4s ease forwards normal,speen 50s linear infinite reverse;
				opacity: 0;
				animation-delay: calc(var(--originalDelay) + 2.4s);
				width: 35px;
				height: 35px;
				z-index: 50;
				filter: drop-shadow(0px 0px 4px rgba(86, 145, 255, 0.442));
				top: 5.8%;
				left: 43%;

			}

		

		}
		.talent-info{
			text-align: center;

			.name{
				color:#7A8581;
				white-space: nowrap;
				font-weight: 500;
				font-size: 1.4rem;
				margin-top: 1em;
			}
			.intro{
				color: #B2B2B2;
				font-size: .9rem;
			}
		}
	}
	.active-talent-panel-footer{
		
		border-radius:0 0 $panelBr $panelBr;
		overflow: hidden;
		text-align: right;
		vertical-align: center;
		// font-size: 1rem;
		a{
			padding: 1.2em;
			background-color: #A4C1BD;
			color: white;
			padding: .6em .7em;
			padding-bottom: .5em;
			font-size: .9rem;
			width: 100%;
			display: block;
			font-weight: 600;
			span{
				transform: translateX(-.4em);
				display: block;
				transition: 250ms ease;
				svg{
					position: relative;
					top: 2px;
				}
			}
			&:hover{
				span{
					transform: translateX(.3em);
				}
			}
		}
		
	}
}