.btn{
	font-family: var(---font-fredoka);
	background-color: white;
	border: none;
	border-radius: 1em;
	transition: all 250ms ease;
	
	display: flex;
	align-items: center;
	gap: .3em;
	font-weight: 400;
	letter-spacing: 1px;
	&:hover{
		scale: 1.05;
		cursor: pointer;
	}

	&:active{
		scale: .95;
	}
}