.container_profile{
	background-color: #96C3DB;
	max-width: min(90%,1000px);
	margin: 0 auto;

	border: 3px solid #A59791;
	padding: 2em;
	border-radius: 1em;

	position: relative;
	.decor_star-r{
		position: absolute;
		width: 85px;
		height: 85px;
		animation: speen 25s infinite linear reverse;  
		z-index: -10;
		top:-3%;
		left: -4%;
	}
	.decor_star-l{
		position: absolute;
		width: 85px;
		height: 85px;
		z-index: -10;
		top: -3%;
		right: -4%;
		animation: speen 25s infinite linear;
	}
	.decor_profile-panel-spell{
		position: absolute;
		opacity: .2;
		
		top: -10%;
		left: 50%;
		z-index: -2;
		transform: translate(-50%);
	}
	.main-section{
		display: grid;
		grid-template-columns: 1.3fr 3fr;
		gap: 1em;
		margin-bottom: 2em;
		.profile-sidebar-container{
			display: flex;
			flex-direction: column;
			gap: .5em;
			.profile-pic{
				.pfp{
					width: 100%;
					border: 5px solid white;
					border-radius: .2em;
					height: 300px;
					object-fit: cover;
				}
				position: relative;
				.decor_profile-badge{
					position: absolute;
					bottom: -5%;
					right: 5%;
				}
			}
			.profile-contacts{
				width: 100%;
				width: min-content;
				background-color: #DCE2B9;
				display: flex;
				align-items: center;
				justify-content: space-around;
				filter: drop-shadow(-1px 4px 0px rgba(0, 0, 0, 0.25));
				border-radius: 3em;
				padding: 0 .3em;
				margin: .4em auto;
				a{
					transition: all 250ms ease;
					padding: .2em .5em;
					color: #A2A089;
					svg{
						display: block;
						top: 2px;
					}
				}
				a:hover{
					background-color: #5D9ABA;
					scale: 1.2;
					color: white;
				}
				font-size: 2rem;
			}

			.profile-stats{
				background-color: #C7B9B4;
				border: 3px solid #9B807D;
				color: #584C4B;
				border-radius: .5em;
				.stats-header{
					text-align: center;
					padding: .1em .1em;
					h2{
						font-weight: 500;
						opacity: .5;
					}
				}
				.stats-body{
					border-radius: 0 0 .5em .5em;
					padding: .5em;
					background-color: #F4E8E1;
					display: flex;
					flex-direction: column;
				}
				.stat-field{
					display: flex;
					flex-wrap: wrap;
					padding: .2em;
					justify-content: space-between;
					
					p{
						width: 45%;
					}
					.star-rating{
						width: 100%;
					}
					column-gap: 1em;

				}
			}
			.profile-sidebar-extra{
				background-color: #F4E8E1;
				color: #616161;
				border: 3px solid #9B807D;
				min-height: 150px;
				border-radius: .3em;

			}
		}

		.profile-body-container{
			.profile-body-title{
				.main-info{
					display: grid;
					grid-template-columns: 3fr 1fr;
					.identity{
						border-radius: .3em;
						font-size: 2rem;
						font-weight: 500;
						background-color: #7C95A3;
						width: min-content;
						min-width: 80%;
						padding: 0.31em .7em;
						h2{
							
							white-space: nowrap;
						}
						position: relative;
						.pfp-name{
							font-size: 3.5rem;
							background: linear-gradient(60deg,#54B5DA, #6AC8FA, #bddac2, #dfd489, #ffe896a1);
							color: transparent;
							background-clip: text;
							$shadowColor:#50869b;
							$shadowWidth:2px;
							filter: drop-shadow(-$shadowWidth $shadowWidth $shadowColor);

						}
						
						.sub{
							color: white;
							font-size: 1rem;
							font-weight: 200;
							white-space: nowrap;
						}
					}
					.stat{
						text-align: center;
						.level{
							background-color: #DCE2B9;
							color: #586361;
							margin: .5em 0;
							font-size: 2.5rem;
							font-weight: 600;
							span{
								font-weight: 400;
							}
						}
						.exp{
							font-size: .9rem;
							white-space: nowrap;
							color: white;
							font-weight: 300;
							span{
								color: #586361;
								
							}
						}
					}
				}
				.classifications{
					display: flex;
					flex-wrap: wrap;
					gap: 1em;
					margin: 1em 0;

					.classification{
						border-radius: .3em;
						padding: .5em 1em;
						color: #586361;
						background-color:#DCE2B9;
						transition: all 250ms ease;
						transform-origin: left;
					}

				}
			}
			.profile-body-bio{
				background-color: #B3DEF5;
				color: #586361;
				padding: 1.2em;
				font-size: 1.2rem;
				min-height: 300px;
				border-radius: .3em;
			}

			
		}
	}

	.achievement-section{
		background-color: #F4E8E1;
		border: 3px solid #9B807D;
		padding: 1em;
		border-radius: .5em;
		background: url('/static/images/pattern/terracota.png'),#ffe5d6;
		background-blend-mode: multiply;
		.achievement-header{
			display: flex;
			justify-content: space-between;
			padding: .5em;
			align-items: flex-end;
			h2{
				color: #877676;
				font-size: 2.5rem;
			}
			p{
				font-size: .9rem;
				opacity: .8;
				color: #768187;
			}
		}
		.achievement-list{
			display: grid;
			grid-template-columns: 1fr 1fr;
			gap: 1.5em;
			padding: 1em;
			.achievement{
				display: grid;
				grid-template-columns: 80px 1fr;
				gap: 1em;

				transition:  all 250ms ease;
				&:hover{
					transform: translateY(-5%);
				}
				.icon{
					height: min-content;
					img{
						width: 100%;
						height: 100%;
						object-fit: contain;
						filter: invert(0) brightness(80%) sepia(100%) saturate(100%) hue-rotate(350deg);
						object-position: top center;
					}
				}
				.achievement-info{
					border-radius: .3em;
					padding: .6em 1em;
					h2{
						font-size: 1.2rem;
						font-weight: 500;
					}
					color: #616161;
					background-color: #EDD6C8;
				}
			}
		}
	}
}

.profile-body-skills{
	display: flex;
	flex-direction: column;
	background-color: #B3DEF5;
	margin: 1em 0;
	gap: .8em;
	padding: 1em;
	border-radius: .3em;
	
	.skill{
		transition: all 250ms ease;
		transform: translateX(0);
		border-radius: .3em;
		&:hover{
			position:relative;
			transform: translateX(1em);
		}
		display: grid;
		grid-template-columns: 80px 1fr;
		gap: 1em;
		.icon{
			filter: invert(1) brightness(70%) sepia(100%) saturate(100%) hue-rotate(180deg);
			& > img{
				max-width: 100%;
				max-height: 80px;
				object-fit: contain;
				object-position: top center;
			}
		}
		.skill-info{
			color: #6B6B6B;
			padding: 1em;
			background-color: #CCEDFF;
			border-radius: .8em;
			.skill-header{
				display: flex;
				justify-content: space-between;
				h2{
					font-weight: 500;
					font-size: 1.4rem;
					color: #616161;
				}
				.tier{
					font-size: 1.2rem;
					font-weight: 300;
				}
			}
		}
	}

	&.outside{
		display: none;
		gap: 1em;
	}
}



@media screen and (max-width:768px) {
	.container_profile{
		.achievement-section{
			.achievement-list{
				display: flex;
				flex-direction: column;
			}
		}
		.decor_profile-panel-spell{
			// scale: .8;
			max-width: 50%;
			object-fit: contain;

		}
		.decor_star-l{
			width: 40px;
			height: 40px;
			top: -1%;
		}
		.decor_star-r{
			top: -1%;
			width: 40px;
			height: 40px;
		}

		.main-section .profile-body-container {
			display: flex;
			flex-direction: column;
			.profile-body-bio{
				height: 100%;
			}
			.profile-body-title {
				.main-info{
					display: flex;
					flex-direction: column;
	
					.identity{
						max-width: 100%;
						width: 100%;
					}
	
					.stat{
						display: flex;
						align-items: center;
						flex-wrap: wrap;
						justify-content: center;
						gap: 1em;
						padding: 1em;
						
						.level{
							flex: 1;
							margin: .25em;
						}
					}
				}
			}
		}

			.classifications{
			}
			.profile-body-container .profile-body-bio p, .profile-body-container .profile-body-bio span{
				font-size: 1rem;
			}
	}

	.profile-body-skills.inside{
		display: none;
	}
	.profile-body-skills.outside{
		display: flex;
		gap: 1em;
	}
}


@media screen and (max-width:600px) {
	.container_profile{
		.decor_profile-panel-spell{
			object-position: bottom center;

		}
		.main-section{
			display: flex ; 
			flex-direction: column;
			gap: 1em;
			
			.profile-body-container .profile-body-title{
				.main-info{
					.classifications{
						justify-content: center;
						margin-top: .25em;
					}
					.identity{
						text-align: center;
						padding-bottom: .6em !important;
						.pfp-name{
							font-size: 2.5rem;
						}
					}
				}
			} 
			
			
		}
		

		.achievement-section{
			.achievement-header{
				flex-wrap: wrap;
				h2{
					font-size: 2rem;
				}
			}
			.achievement-list{
				.achievement{
					grid-template-columns: 50px 1fr;
					.achievement-info{
						h2{
							font-size: .9rem;
						}
						p{
							font-size: .8rem;
						}
					}
				}
			}
		}

	} 

	.profile-body-skills {
		.skill{
			// grid-template-columns: 40px 1fr;
			display: flex;
			flex-direction: column;
			align-items: center;

			.icon > img{
				object-fit: fill;
				height: 70px;
				width: 70px;
				// max-height: 40px;
				aspect-ratio: 1/1;
			}
			.skill-info{
				.skill-header{
					flex-wrap: wrap;
					h2{
						font-size: 1rem;
					}
					padding-bottom: .5em;
				}
				p,.skill-header .tier{
					font-size: .9rem;
				}
			}
		}
	}

	

}
