#container_experimental{
	
	padding-top: 2em;
	.experimental-title-panel{
		background-color: #484848;
		margin: 0 auto;
		max-width: min(70%,720px);
		color: white;
		border-radius: 1em;
		position: relative;
		position: relative;
		.decor_gear{
			top: 0%;
			left: 0%;
			position: absolute;
			width: 100%;
			height: 100%;
			.gear_l{
				left: -16%;
				top:-75%;
				scale: .5;
				opacity: .1;
				position: absolute;
				z-index: -5;
				animation: speen 5s linear infinite;
			}
			.gear_r{
				right: -16%;
				top:12%;
				scale: .75;
				opacity: .15;
				position: absolute;
				z-index: -5;
				animation: speen 15s linear infinite reverse;
			}
		}
		.header{
			display: flex;
			justify-content: space-between;
			align-items: center;
			gap: 1em;
			padding: .2em 1em;
			hr{
				height: 1px;
				border: 1px solid rgba(255, 255, 255, 0.692);
				border-radius: 1em;
				width: 100%;
			}
			img{
				object-fit: contain;
			}
		}
		.text-part{
			background-color: #3C3C3C;
			padding: 1em;
			min-height: 100px;
		}
	}
}


@media screen and (max-width:768px){
	#container_experimental{
		.experimental-title-panel{
			max-width: 90%;
			font-size: .9rem;
		}
		.experimental-custom-panel{
			max-width: 80%;
		}
	}
}


@media screen and (max-width:600px){
	#container_experimental{
		.experimental-title-panel{
			font-size: .8rem;
			.decor_gear .gear_l{
				left: -24%;
  				top: -58%;
				opacity: .04;

			}
			.decor_gear .gear_r{
				right: -31%;
  				top: 20%;
				opacity: .05;
			}
		}
		
	}
}

@media screen and (max-width:400px) {
	#container_experimental{
		.experimental-title-panel{
			font-size: .75rem;

		}
	}
	
}